mixin Card(stock)
    .card.box
        .card-content
            .columns.is-desktop
                .column
                    figure.image.is-256x256
                    img(src= `img/${stock.image}` alt=stock.type)
                .column
                    .buttons
                        a.title.is-5(href=stock.href)=stock.title
                        button.button.is-info.is-light Type: #{stock.type}
                        button.button.is-danger.is-light.is-medium Price:  #{stock.price} #{stock.price_currency}
                        button.button.is-warning.is-light Model: #{stock.model}
                        button.button.is-link.is-light.is-medium Power: #{stock.power} #{stock.power_measure}
                        button.button.is-success.is-light Year: #{stock.year}             
            .content
                .buttons 
                        button.button.is-primary.is-light Axle configuration: #{stock.axle_configuration}
                        button.button.is-link.is-light Payload: #{stock.payload}
                        button.button.is-success.is-light Gross weight: #{stock.gross_weight}
                        button.button.is-warning.is-light Make: #{stock.make}
                        button.button.is-primary.is-light Model: #{stock.model}
                        button.button.is-danger.is-light Mileage: #{stock.mileage} #{stock.mileage_measure}

